<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/secure-token-service/src/main/java/de/adorsys/sts/SecureTokenServiceApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="KEYSTORE_PASSWORD" value="assdfo32814"/>
<mapEntry key="RESOURCE_SERVER_NAMES" value="mbservice,mbmock"/>
<mapEntry key="mbmock_AUDIENCE_NAME" value="mbmock"/>
<mapEntry key="mbmock_ENDPOINT_URL" value="http://localhost:10010"/>
<mapEntry key="mbmock_JWKS_URL" value="http://localhost:10010/pop"/>
<mapEntry key="mbmock_USER_SECRET_CLAIM" value="mbmock_user_secret"/>
<mapEntry key="mbservice_AUDIENCE_NAME" value="mbservice"/>
<mapEntry key="mbservice_ENDPOINT_URL" value="http://localhost:8081"/>
<mapEntry key="mbservice_JWKS_URL" value="http://localhost:8081/api/v1/pop/pop-keys.json"/>
<mapEntry key="mbservice_USER_SECRET_CLAIM" value="custom_secret"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.adorsys.sts.SecureTokenServiceApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="secure-token-service"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
