server:
  port: 8887

spring:
  liquibase:
    enabled: true
    change-log: classpath:/db/migration/liquibase/changelog.yml
    default-schema: public

  flyway:
    enabled: false
    locations:
    - db/migration/flyway/h2

  datasource:
    url: jdbc:h2:mem:AZ;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: db_user
    password: db_user@123
  jpa:
    show-sql: false
    properties:
      hibernate:
        default_schema: sts

sts:
  audience-name: sts-service-component-example
  secret-claim-property-key: secretClaim
  authservers:
  - name: keycloak-playground
    iss-url: https://sso-keycloak-playground.dev.adorsys.de/auth/realms/moped
    jwks-url: https://sso-keycloak-playground.dev.adorsys.de/auth/realms/moped/protocol/openid-connect/certs
    refresh-interval-seconds: 600
  persistence:
    lock-expiry: 30000
  keymanagement:
    rotation:
      check-interval: 60000
      enc-key-pairs:
        min-keys: 5
        enabled: true
      sign-key-pairs:
        min-keys: 5
        enabled: true
      secret-keys:
        min-keys: 5
        enabled: true
    persistence:
      container-name: adsts-container
      password: 0123456789ABCDEF
    keystore:
      password: FEDCBA9876543210
      type: UBER
      name: service-component-example-keystore
      alias-prefix: service-component-example-
      keys:
        enc-key-pairs:
          initial-count: 5
          algo: RSA
          sig-algo: SHA256withRSA
          size: 2048
          name: Adorsys Security Token Service
          validity-interval: 3600000
          legacy-interval: 86400000
        sign-key-pairs:
          initial-count: 5
          algo: RSA
          sig-algo: SHA256withRSA
          size: 2048
          name: Adorsys Security Token Service
          validity-interval: 3600000
          legacy-interval: 86400000
        secret-keys:
          initial-count: 5
          algo: AES
          size: 256
          validity-interval: 3600000
          legacy-interval: 86400000
